<!-- componente principal -->
<!-- Interpolacion de string -->
<!-- {{title}}
{{2+8}} -->
<!-- no solo estmos leyendo sino tambien que lo podemos modificar -->
<!-- <h1>Componente app principal</h1>
<p>Viene dado porque lo que estas viendo es del index.html porque app.component.ts esta ligago a la etiqueta app-root
</p>
<input type="text" [(ngModel)]="title">
<p>esto viene dado por el componente que esta dentro de la carpeta header 🔽</p> -->
<div class="container">
  <app-header></app-header>
  <!-- <app-mari></app-mari> -->
  <router-outlet></router-outlet>
</div>