<section class="home-container">
  <div class="title">
    <p>Kwai Store</p>
  </div>
  <div class="wall-container">
    <div class="window-container">
      <div class="window">
        <div class="window-up">
          <div></div>
          <div></div>
        </div>
        <div class="window-down">
          <div></div>
          <div></div>
        </div>
      </div>
      <div class="baseboard"></div>
    </div>
    <div class="door-container">
      <div class="door">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
      <div class="door-warm">
        <div class="warm">
          <p>Online Shop</p>
          <button (click)="onProducts()">Buy</button>
        </div>
      </div>
    </div>

    <div class="window-container">
      <div class="window">
        <div class="window-up">
          <div></div>
          <div></div>
        </div>
        <div class="window-down">
          <div></div>
          <div></div>
        </div>

      </div>
      <div class="baseboard"></div>
    </div>
  </div>

</section>