.header-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main2-font-color);
  font-weight: 900;
  margin-right: 5px;
}

.header-cart .header-cart__badge > span {
  right: -15px;
  background-color: var(--dark-color);
}
