<div class="container__table">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Qty</th>
        <th>Price unit</th>
        <th>Sub Total</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of cart$ | async">
        <td>{{product.name}}</td>
        <td> <mat-icon>add</mat-icon>{{product.qty}}<mat-icon>remove</mat-icon></td>
        <td>{{product.price | currency}}</td>
        <td>{{product.qty * product.price |currency}}</td>
        <td><mat-icon>delete</mat-icon></td>
      </tr>
    </tbody>
  </table>

  <div class="container__total">
    <p class="total">
      <strong>Total: <span>{{total$|async|currency}}</span></strong>
    </p>
  </div>
</div>