.container__table {
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
  width: 100%;
  padding-top: 20px;
  max-width: 1000px;
}
.table {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  background-color: #ffb7c4;
}

th {
  background-color: #a63f5a;
  color: #fff;
  padding: 5px;
  text-align: center;
  font-weight: 400;
}
.table td {
  background-color: #f5f5f5;
  min-height: 50px;
  text-align: center;
  color: #646464;
  font-weight: 400;

  /* padding: 1rem; */
}
td:nth-child(2) {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 3px;
}
td:nth-child(2) mat-icon {
  background-color: #a63f5a;

  border-radius: 2px;
  color: #eee;
}

td:nth-child(5) mat-icon {
  color: #a63f5a;
}

.container__total {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-top: 1rem;
  padding: 5px;
  border-radius: 5px;
  background-color: #ffb7c4;
}
.container__total p {
  width: 100%;
  margin: 0;
  padding: 5px;
  border-radius: 2px;
  font-weight: 400;
}

.container__total p:nth-child(1) {
  font-weight: 700;
  background-color: #eee;
  color: #a63f5a;
}
.container__total p:nth-child(2) {
  background-color: #eee;
  color: #646464;
}
