.container__table {
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
  width: 100%;
  padding-top: 20px;
  max-width: 1000px;
}

.table {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  background-color: var(--light-color);
}

th {
  background-color: var(--dark-color);
  color: var(--main2-font-color);
  padding: 5px;
  text-align: center;
  font-weight: 400;
}
.table td {
  background-color: var(--main2-font-color);
  min-height: 50px;
  text-align: center;
  color: var(--main-font-color);
  font-weight: 400;

  /* padding: 1rem; */
}
td:nth-child(2) {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 3px;
}
td:nth-child(2) mat-icon {
  background-color: var(--dark-color);
  border-radius: 2px;
  color: var(--main2-font-color);
}

td:nth-child(5) mat-icon {
  color: var(--dark-color);
}

.container__total {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-top: 1rem;
  padding: 5px;
  border-radius: 5px;
  background-color: var(--light-color);
}
.container__total p {
  width: 100%;
  margin: 0;
  padding: 5px;
  border-radius: 2px;
  font-weight: 400;
}

.container__total p:nth-child(1) {
  font-weight: 700;
  background-color: var(--main2-font-color);
  color: var(--dark-color);
}
.container__total p:nth-child(2) {
  background-color: var(--main2-font-color);
  color: var(--main-font-color);
}
