<div class="container__table">
  <table class="table">
    <thead>
      <tr>
        <th>Name (model)</th>
        <th>Qty</th>
        <th>Price unit</th>
        <th>Sub Total</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of cart$ | async">
        <td>{{product.name}} ({{product.model}})</td>
        <td> <mat-icon (click)="updateProduct(product.id,'add',product.model)">add</mat-icon>{{product.qty}}<mat-icon
            (click)="updateProduct(product.id,'minus',product.model)">remove</mat-icon></td>
        <td>{{product.price | currency}}</td>
        <td>{{product.qty * product.price |currency}}</td>
        <td><mat-icon (click)="deleteProduct(product.id,product.model)">delete</mat-icon></td>
      </tr>
    </tbody>
  </table>

  <div class="container__total">
    <p>Total: </p>
    <p>{{total$|async|currency}}</p>
  </div>
</div>