/* You can add global styles to this file, and also import other style files */

/* html,
body {
  min-height: 100vh;
} */
* {
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  margin: 0;
  width: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #ff6c79;
  font-weight: 500;
}
