.container-checkout {
  padding: 20px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 1000px;
}

.container {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: var(--light-color);
  padding: 15px;
  border-radius: 5px;
}
.checkout-title {
  margin: 5px;
  background-color: var(--accent-main-color);
  border-top: 3px solid var(--dark-color);
  border-left: 3px solid var(--dark-color);
  border-bottom: 5px solid var(--light-color);
  padding: 3px;
  width: 100%;
}
.checkout-details {
  width: 100%;
}
.checkout-title p {
  margin: 0;
  font-weight: 900;
  font-size: 1.5rem;
  text-align: center;
  color: var(--main2-font-color);
}
.item {
  flex: 1 1 auto;
}
.form {
  width: 100%;
}

.form__element {
  width: 100%;
  /* margin-bottom: 0.5rem; */
}
.form__element:nth-child(2) p {
  color: var(--main-font-color);
  font-weight: 400;
}

.container__button {
  margin: 0 auto;
  width: 40%;
  margin-top: 1.5rem;
}
.container__button button {
  border-radius: 5px;
  cursor: pointer;
  padding: 3px;
  font-weight: 900;
  border: 1px solid #56696355;
  background-color: var(--dark-color);
  color: var(--main2-font-color);
  box-shadow: inset 0px 1px 3px 0px var(--accent-main-color);
}
.container__button button:disabled {
  opacity: 0.7;
}
button {
  width: 100%;
}
