<div class="container">
  <section class="title">
    <p>Thank You {{order.name}}!!!</p>
    <p>
      Your order has been registered successfully!!
    </p>
  </section>
  <section *ngIf="orderDelivery" class="delivery">
    <p>Your order will be sent to the address:</p>
    <div>
      <p>Shipping Address: </p>
      <p>{{order.shippingAddress}}</p>
    </div>
    <div>
      <p>City: </p>
      <p>{{order.city}}</p>
    </div>
  </section>
  <section *ngIf="!orderDelivery" class="notDelivery">
    <p>Your order will be delivered to the store:</p>
    <ng-container *ngIf="order.store">
      <div>
        <p>Store Name: </p>
        <p>{{order.store.name}}</p>
      </div>
      <div>
        <p>Address: </p>
        <p>{{order.store.address}}</p>
      </div>
      <div>
        <p>City: </p>
        <p>{{order.store.city}}</p>
      </div>
      <div>
        <p>Opening Hours: </p>
        <p>{{order.store.openingHours}}</p>
      </div>
    </ng-container>
  </section>
  <button (click)="back()">OK</button>
</div>